@import url("http://fonts.cdnfonts.com/css/do-stylish-baroque");
.appBody {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  font-family: "DO Stylish Baroque", sans-serif;
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;
  margin: 0.2em;
}

img {
  margin: 0.2em;
}
